.has-fade {
  visibility: hidden;
}

@-webkit-keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

.fade-in {
  -webkit-animation: fade-in 200ms ease-in-out forwards;
  animation: fade-in 200ms ease-in-out forwards;
}

@-webkit-keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

@keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

.fade-out {
  -webkit-animation: fade-out 200ms ease-in-out forwards;
  animation: fade-out 200ms ease-in-out forwards;
}

/*Animaciones caja banner*/
@-webkit-keyframes aparece {
  from {
    opacity: 0;
  }
  to {
    opacity: 0;
  }
}
@keyframes aparece {
  from {
    opacity: 0;
  }
  to {
    opacity: 0;
  }
}

@-webkit-keyframes animate {
  0% {
    stroke-dashoffset: 1800;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes animate {
  0% {
    stroke-dashoffset: 1800;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes desaparece {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes desaparece {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.navBar {
  max-width: 100%;
  margin: 0 auto;
}

.navBar--pall {
  padding-top: 4.375rem;
  padding-right: 1.5rem;
  padding-bottom: 4.375rem;
  padding-left: 1.5rem;
}

@media (min-width: 64em) {
  .navBar--pall {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-jc-sb {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.flex-jc-c {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.flex-ai-c {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header {
  position: relative;
  z-index: 1;
}

.header.open .header__toggle > span:first-child {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.header.open .header__toggle > span:nth-child(2) {
  opacity: 0;
}

.header.open .header__toggle > span:last-child {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.header .overlay {
  opacity: 0;
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.389793)), to(rgba(144, 148, 148, 0)));
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.389793) 0%, rgba(144, 148, 148, 0) 100%);
}

.header nav {
  position: relative;
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.389793)), to(rgba(144, 148, 148, 0)));
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.389793) 0%, rgba(144, 148, 148, 0) 100%);
  padding-top: 1.0625rem;
  padding-bottom: 1.0625rem;
}

.header__logo img {
  
  height: 3.375rem;
}

.header__toggle > span {
  display: block;
  width: 26px;
  height: 2px;
  background-color: #2d314d;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  -webkit-transform-origin: 3px 1px;
  transform-origin: 3px 1px;
}

.header__toggle > span:not(:last-child) {
  margin-bottom: 5px;
}

.header__menu {
  position: absolute;
  width: 48%;
  height: 92vh;
  left: 51.9%;
  top: 73%;
  background: #161c40;
  margin-top: 1.5rem;
  padding: 1.625rem;
}

.header__menu a {
  display: block;
  font-size: 1.35rem;
  line-height: 1.88rem;
  padding: 0.825rem;
  color: #eee;
  text-align: right;
  text-transform: uppercase;
}

.header__menu .charcas {
  font-size: 1.15rem;
  font-weight: 700;
  position: relative;
  text-align: right;
  letter-spacing: 3px;
}

.header__menu .charcas span {
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: 3px;
}

.header__menu > span {
  display: block;
  width: 35%;
  height: 12px;
  background-color: transparent;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 65%;
}

.header__menu .img-nav1 {
  display: inline;
  width: 14rem;
  margin-top: 23%;
}

.header__menu .img-nav2 {
  display: inline;
  width: 12rem;
  margin-top: 23%;
  margin-left: 20%;
}

.header__links a {
  position: relative;
  font-size: 1rem;
  color: #9698a6;
  -webkit-transition: color 300ms ease-in-out;
  transition: color 300ms ease-in-out;
  text-transform: uppercase;
}

.header__links a:not(:last-child) {
  margin-right: 32px;
}

.header__links a::before {
  content: "";
  display: block;
  position: absolute;
  height: 5px;
  left: 0;
  right: 0;
  bottom: -30px;
}

.header__links a:hover {
  color: #2d314d;
}

.header__links a:hover::before {
  opacity: 1;
}
/*# sourceMappingURL=style.css.map */